*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  list-style-type: none;
}

header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: hsl(0, 0%, 100%);
  border-bottom: 1px solid hsl(0, 0%, 50%);
}

header nav {
  max-width: 1440px;
  margin: auto;
}

#description {
  margin: 3rem 0;
  padding: 3rem 2rem;
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 0.75rem;
}

#description h1 {
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}

#description > p {
  text-align: justify;
}

#nav-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

#nav-cards > div {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 200px 0 0;
  padding: 2rem;
  background-color: hsl(0, 0%, 60%);
  border-radius: 0.75rem;
}

#nav-cards > div > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 0.75rem;
}

#nav-cards > div > article {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

#nav-cards > div > a {
  background-color: hsl(357, 73%, 56%);
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
}

main,
footer {
  width: 95vw;
  max-width: 1440px;
  margin: auto;
}

footer p {
  color: hsl(0, 0%, 60%);
  text-align: center;
  font-size: 3rem;
  padding: 4rem 0;
}
